<div class="container prayer-container">
  <div class="row">
      <h1>Send Us A Prayer Request</h1>

    <div class="col-md-6 col-md-offset-3">
      <p>
        The only required field in this form is the prayer request itself, the other fields are there if you would like to provide that information. Anything submitted from this page will be sent directly to the New Thought Northern Colorado prayer team and will remain confidential.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= simple_form_for(@prayer_request) do |f| %>
        <%= f.input :name, label: "Your Name:" %>
        <%= f.input :method, label: "How would you like to receive your prayer?", collection: PrayerRequest.options, include_blank: "Select an option" %>
        <%= f.input :email, label: "Your Email:" %>
        <%= f.input :phone, label: "Phone Number:" %>
        <%= f.input :content, label: "What would you like prayer for?", input_html: { rows: 4 } %>

        <%= f.submit 'Send', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
