<div class="container-fluid">
  <div class="row">
    <div class="banner" style="background-image: url(<%= image_path('lights.jpg')%>);">

      <div class="banner-heading">
        <h1>Be Connected</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= render(
    'shared/secondary_navbar',
    items: [
      { url: classes_path, title: 'Classes' },
      { url: events_path, title: 'Events' },
      { url: groups_path, title: 'Groups' },
      { url: calendar_path, title: 'Calendar' }
    ])
  %>

  <button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>

  <div class="row">
    <div class="col-md-6 col-md-offset-4 pt">
      <h2 class="no-mt">Groups At New Thought NoCo</h2>
    </div>
  </div>

  <% @groups.each do |group| %>
    <div class="row group-row">
      <div class="col-md-8 col-md-offset-1">
        <h4>
          <%= group.name.titleize %>
        </h4>
        <p>
          <%= group.schedule %>
        </p>
        <p><%= group.description %></p>
        <p>To join <%= group.name.titleize %> contact: <%= group.contact %></p>
      </div>
    </div>
  <% end %>

</div>
