<div class="footer">
  <div class="footer-links">
    <div class="footer-contact">
      <h6>CONTACT US</h6>
      <div class= "contact-details" >
        <div class="footer-phone">
          <a href="tel:9702241206" class="foot-phone"> PHONE: (970) 224-1206</a>
        </div>
        <div class="footer-email">
          <a href="email:info@newthoughtnoco.org" class="foot-email"> EMAIL: INFO@NEWTHOUGHTNOCO.ORG</a>
        </div>
        <a href="https://www.facebook.com/NTNCCSL/" target= "_blank"><i class="fa fa-facebook"></i>FIND US ON FACEBOOK</a>
      </div>
    </div>
  </div>
</div>
<!--   <%= link_to "http://www.amyhogue.com/",  target: :_blank do %>
    <div class="yam-footer">
      <p>Powered By</p>
      <%= image_tag("yam.png")%>
      <p>Yam</p>
    </div>
  <% end %>
</div> -->

<!--     <% if user_signed_in? %>
      <div class="navbar-ntnoco-item">
        <div class="dropdown">
          <%= link_to 'Sign Out', "#", class: "navbar-ntnoco-item navbar-ntnoco-link dropdown-toggle navbar-ntnoco-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-ntnoco-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
     <!-- Login link (when logged out) --> -->
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-ntnoco-item navbar-ntnoco-link" %> --> --> -->
    <% end %> -->
