<div class="footer">
  <div class="footer-links">
    <div class="footer-contact">
      <h6>CONTACT US</h6>
      <div class= "contact-details" >
        <div class="footer-phone">
          <a href="tel:9702241206" class="foot-phone"> PHONE: (970) 224-1206</a>
        </div>
        <div class="footer-email">
          <a href="email:info@newthoughtnoco.org" class="foot-email"> EMAIL: INFO@NEWTHOUGHTNOCO.ORG</a>
        </div>
        <a href="https://www.facebook.com/NTNCCSL/" target= "_blank"><i class="fa fa-facebook"></i>FIND US ON FACEBOOK</a>
      </div>
      <div class="footer-admin">
        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        <% else %>
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="yam-footer">
    <%= link_to "http://www.amyhogue.com/", target: :_blank do %>
      <span>Powered By</span>
      <%= image_tag("yam.png")%>
      <span>Yam</span>
    <% end %>
  </div>
</div>

