<div class="container-fluid">
  <div class="row">
    <div class="banner" style="background-image: url(<%= image_path('lights.jpg')%>);">

      <div class="banner-heading">
        <h1>Be Connected</h1>
      </div>
    </div>
  </div>
</div>

<div class="container center-sm">
  <%= render(
    'shared/secondary_navbar',
    items: [
      { url: classes_path, title: 'Classes' },
      { url: events_path, title: 'Events' },
      { url: groups_path, title: 'Groups' },
      { url: calendar_path, title: 'Calendar' }
    ])
  %>

  <button onclick="topFunction()" id="myBtn" title="Go to top">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
  </button>

  <% if @events.empty? %>

    <div class="event-container">
      <div class="col-md-10 col-md-offset-1">
        <h2 class ="pt">We dont' have any upcoming events at this time,</h2>
        <h3>Check out the calendar for guest speakers, guest musicians, and the latest talk titles. </h3>
        <%= link_to 'Calendar', calendar_path, class: "btn btn-primary" %>
      </div>
    </div>

  <% else %>

    <div class="event-container">
      <div class="col-md-6 col-md-offset-4">
        <h2>Upcoming Events</h2>
      </div>

      <% @events.each do |event| %>
        <div class="row">
          <div class="col-md-8 col-md-offset-1 pt">
            <% if event.title? %>
              <h3>
                <%= link_to event.title, event %>
              </h3>
            <% end %>
            <% if event.start_date? %>
              <h4> <%= event.start_date.strftime('%A, %d %b %Y') %></h4>
            <% end %>
            <% if event.schedule? %>
              <p>
                <%= event.schedule %>
              </p>
            <% end %>
            <p> <%= event.facilitator %></p>
            <p><%= event.description %></p>
            <%= link_to 'Register', event, class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>

  <% end %>
</div>
