<div class="container-fluid">
  <div class="row">
    <div class="banner" style="background-image: url(<%= image_path('lights.jpg')%>);">

      <div class="banner-heading">
        <h1>Be Connected</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= render(
    'shared/secondary_navbar',
    items: [
      { url: classes_path, title: 'Classes' },
      { url: events_path, title: 'Events' },
      { url: groups_path, title: 'Groups' }
    ])
  %>

  <button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3><%= @event.title %></h3>

      <p>
        <%= @event.schedule %>
        <span>Price: <%= humanized_money_with_symbol(@event.general_price) %></span>
      </p>
      <p><%= @event.description %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h4 id="registration-form">Register for <%= @event.title %></h4>
      <%= simple_form_for @registration do |f| %>
        <%= f.input :event_id, as: :hidden, input_html: { value: @event.id } %>
        <div class="flex-sb">
          <%= f.input :first_name %>
          <%= f.input :last_name %>
        </div>
        <div class="flex-sb">
          <%= f.input :phone %>
          <%= f.input :email %>
        </div>
        <%= f.input :comment, label: "Comments:" %>

        <article>
          <label class="amount">
            <span>Amount: <%= humanized_money_with_symbol(@event.general_price) %></span>
          </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="Class Payment"
          data-description="Class <%= @event.title %>"
          data-amount="<%= @event.general_price_cents %>"
          data-currency="<%= @event.general_price.currency %>">
          </script>
      <% end %>
    </div>
  </div>
</div>
