
<h3>Practitioners</h3>
<p>
  Spiritual Practitioners are prayer partners who provide loving and prayerful support both in challenging times and for the realization of your dreams.  They are dedicated to knowing your Oneness with God.  They will help you use spiritual principles, meditation, visioning and spiritual treatment (affirmative prayer), to make positive changes in your life.
</p>
<p>
  Our Practitioners are licensed to practice professionally by Centers for Spiritual Living.  They have completed extensive coursework, passed written and oral examinations, and have actively demonstrated their understanding of New Thought principles.  They are committed to their personal spiritual practice and to service in our NTNC community.
</p>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          JALEIN ARNOLD, RSCP
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <%= image_tag 'practitioners/jalein-arnold.jpg', class: 'img-accordion' %>

        <p>
          Jalein Arnold followed New Thought teaching for more than thirty years, in both Unity and Science of Mind.  She became a Practitioner in 2015 and served on the Core Council and as Visioning Chair for several years.  She and her husband live in Greeley with their two cats.  She is retired and works part-time in Senior Peer Counseling and she has experience working with recovery from addictions and grief.
       </p>
       <p>
          She knew when I came to this Center that she had found her spiritual home and family.  “What a joy to be in community with like-minded people!”  She knows that her purpose is to serve and be helpful in any way she can.  God consciousness guides her, Divine Love connects her with others, and faith sustains her.  She values unconditional acceptance, freedom from judgment, mindfulness, and honesty.
       </p>
       <p>
          Her passion is Visioning- for NTNC, groups and individuals.  Visioning is a spiritual practice that opens one’s connection with Spirit and seeks Divine Guidance regarding one’s calling and/or a specific aspect of life.  We all envision what we want in life.  Visioning goes deeper by asking for God’s highest idea of our good.
       </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          KELLI BAKER, RSCP
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <%= image_tag 'practitioners/kelli-baker.jpg', class: 'img-accordion' %>

        <p>
          Kelli Baker is a Kansas City, Missouri, native and has been a member of the Centers for Spiritual Living community since 2012. Kelli retired from the US Army as a Sergeant First Class, has a Bachelor degree in Business Management and a Master degree in Human Nutrition and Functional Medicine. She often visited the Rocky Mountains with her family as a child and knew this is where she wanted to live. Kelli is married and lives on a farm with her chickens, cat (Dax) and dog (Roscoe).
        </p>
        <p>
          Kelli became a Science of Mind Practitioner in 2017 and finds joy in improving lives through prayer and service. Kelli’s favorite motto is a quote attributed to Ghandi, “be the change” and she uses this as her motivation to continually grow. She uses the teaching of Ernest Holmes to bring love, hope and happiness to those who seek more vibrant lives.
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          JONIE CARSON, RSCP
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <%= image_tag 'practitioners/jonie-carson.jpg', class: 'img-accordion' %>

       <p>
         Jonie often sighs, “Life is good.” and is quite amazed by the way that Life flows and how seemingly random experiences really are (with hind sight/true sight) God’s perfection in action.
       </p>
       <p>
         Jonie grew up in rural Nebraska (go Huskers!) on a farm. It was a very peaceful upbringing, with time spent reading, on horseback, climbing in the trees by the river, tending to a huge garden or “putting up” the fruits and veggies that came from said garden. Today, she and her husband, Matt, have a small acreage and enjoy working on the property and growing beautiful flowers. New Thought philosophy has brought her tools to access that peace even when she is not in the immediate surroundings of nature.
       </p>
       <p>
         Jonie found New Thought by going to church with a friend she was visiting for the weekend. She then pursued finding a New Thought church in her area. She has attended several different New Thought churches as she moved around the country teaching elementary school. In time, she settled into the Creative Center for Spiritual Living community in Greeley and jumped into taking the abundance of classes that are offered through CSL. Eventually the growth that she was experiencing in the classes led to the pursuit of becoming a practitioner. She is very blessed to serve the New Thought Northern Colorado community in this role. Mindfulness techniques to enhance our ability to live well and thrive is one of her main spiritual interests.
       </p>
       <p>
         Jonie’s other activities and interests are varied. She has been a teacher in the public schools for 22 years, serving diverse populations and specializing on supporting students who speak more than one language. She is fluent in Spanish and has enjoyed learning the language and traveling to Spanish speaking countries to enrich her fluency. Often, she can be found curled up reading (or cleaning up the many piles of books around the house). One of her most sacred goals is a lifelong openness to and enjoyment of learning new things.
       </p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          TARYN CARWYN, RSCP
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <%= image_tag 'practitioners/taryn-carwyn.jpg', class: 'img-accordion' %>

        <p>
          Taryn came to New Thought as a teenager and found a true spiritual home with people who thought and lived as she did. Finally, there was a name for her beliefs and practices that she had already been doing for years.
        </p>
        <p>
          Taryn has five wonderful children and a loving partner, Mark.   Together they have created and founded the Rainbow Scouts youth program for NTNC.  Taryn practices daily prayer and mediation with her children and loves working with other families to support them on their spiritual journey.  Taryn has a masters degree in Transpersonal Counseling Psychology and 17 years of counseling experience.
        </p>
        <p>
          Taryn is very inclusive in all that she does.  She is not only accepting but competent in working with a wide range of people and backgrounds.  She is an advocate for individuals, families and relationships of all kinds.  She is an active member of the Poly Leadership Network, American Society of sex educators, counselors and therapists(ASSECT), Kink Aware Professionals(KAP), and many various LGBTQ and diversity awareness groups.
        </p>
        <p>
          Taryn loves working with families of all kinds.  She specializes in working with relationships:  relationships with our partners, our children and ourselves.  She offers practitioner sessions both in person and available through a secure video connection online, so that it is available wherever you are.  She works with individuals, relationships, kids and families.
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          DEBRA J DAWKINS, RSCP
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        <%= image_tag 'practitioners/debra-dawkins.jpg', class: 'img-accordion' %>

        <p>
          Debra J., a Fort Collins, CO, native, started on the spiritual path of Religious Science 12 years ago. She began taking Science of Mind core classes at Whole Life Church in Fort Collins six years ago and completed her practitioner training at New Thought No Co in July 2017. She serves in multiple roles at NTNC, including building manager, volunteer coordinator, and core council president. In addition, she has led a spiritual discussion group for the past 1-1/2 years and currently facilitates a women’s group.
        </p>
        <p>
          Debra J. has worked as a hairdresser for 41 years and has two adult children. She shares her love of interior decorating and home design with her daughter and her love of movies with her son. She also enjoys live concerts at Red Rocks.
        </p>
        <p>
          As a Religious Science practitioner, Debra J. has always known that something greater is calling her and that knowing has led her on her spiritual journey. She is inspired by the idea that the practitioner can always see the divine potential in every individual, and she is passionate about helping others learn self-empowerment from the inside out.
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          LANI HICKMAN, RSCP
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
        <%= image_tag 'practitioners/lani-hickman.jpg', class: 'img-accordion' %>

        <p>
          Lani Hickman is a life-long student of New Thought. She was raised in Unity and has been active in New Thought churches throughout her life. Lani is passionate about sharing principles of creative living to support a world that works for everyone.
        </p>
        <p>
          Lani lives with her husband, Tom, in Loveland. They raised their family in Indiana and moved to Colorado in 2006 after many years of  family vacations in the mountains. Lani enjoys spending time with Tom, and visiting with her five grandchildren. Other interests include ballet and tap dancing, yoga, healthy gourmet cooking, hiking in nature, theater and the arts of any kind, and frequent travel to visit family and their many friends in other states.
          </p>
          <p>
          Professionally, Lani  is a licensed  clinical social worker, now retired from a rewarding career as a counselor and therapist. She specialized in work with older adults, family caregivers, grief and loss, and stress management.
          </p>
          <p>
          Lani received her practitioner license in 2014.She feels a deep calling to the healing work of spiritual practice. She loves to teach, participate in Ministry of Prayer, and provide spiritual support to others. She is especially committed to creating and presenting affordable classes that are accessible to everyone. Her favorite topics are meditation, prosperity, affirmative prayer, and healing.
          </p>
          <p>
          Lani loves that part of the vision of the Science of Mind and Spirit that says, “to awaken humanity to its own magnificence.” Her personal motto has always been, “There is no such thing as an ordinary person—all are extraordinary.” Lani is committed to service as the best way of deepening her own spiritual growth. She is grateful for opportunities to lovingly support the NTNC Community.
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          BROOKE MINKEL, RSCP
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
        <%= image_tag 'practitioners/brooke-minkel.png', class: 'img-accordion' %>

        <p>
          Brooke Minkel became a Licensed Practitioner in 2013. She is currently serving the NTNC community by offering individual and family Practitioner sessions for adults and children, as well as teaching in the Sunday School Program.
        </p>
        <p>
          Brooke is Divinely guided in all that she does and would love to remind you of your inherent Divinity and Love. She is honored to be a part of your path and would love the opportunity to inspire your greatness through a Practitioner session or a group class.
        </p>
        <p>
          Brooke's passion is teaching and she finds inspiration creating New Thought lesson plans for the NTNC Youth. Brooke knows that thoughts are things and that prayer is a vehicle to impress upon the Infinite for greater good. Please contact her with any questions or requests for prayer or spiritual support.
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEight">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          JUDY PUEPPKE, RSCP
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
      <div class="panel-body">
        <%= image_tag 'practitioners/judy-pueppke.jpg', class: 'img-accordion' %>

        <p>
          Judy Pueppke is a retired medical technologist. She was born in South Dakota and Graduated from South Dakota State University. She’s been a practitioner since 1999. Did practitioner training and classes at Mile Hi and served mostly at Whole Life and New Thought No. CO.
        </p>
        <p>
          She has lead a Master Mind group for over a decade, has served as Youth Minister, done janitorial duties, ushered, lead a Love in Action team, served on the Prayer Support Team and Meal Train, and served on a Planning Committee. She has been a small group leader for the Inner Child Journey, for Faith in Action groups, served at the Metaphysical Communion for many years, served at the Winter Solstice and Christmas Morning breakfast, helped with painting at Whole Life and New Thought No. CO, mowed lawn, shoveled snow, and served in whatever capacity was needed to promote our community.
        </p>
        <p>
          She currently serves at the Food Bank of Larimer County in the Kids Kitchen and at Loveland Food Bank on the Food Share on the bread line. She belongs to an aerobics swim class at the Senior Center and tries to exercise there twice weekly. She has joined a Spiritual Values group meeting in Fort Collins, She loves doing prayer and serving as a small group facilitator. Her hobbies are going to the movies and reading. She used to hike and climb 14ers, when her knees were better. She also enjoys gardening as much as possible and finds joy in her two kitty housemates.
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingNine">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          KRISTINE ROTH, RSCP
        </a>
      </h4>
    </div>
    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
      <div class="panel-body">
        <%= image_tag 'practitioners/kristine-roth.jpg', class: 'img-accordion' %>

        <p>
          Kristine Roth has been a member of this spiritual community since 2008 and has been a Religious Science Practitioner since 2013. She is a wife and mother of two amazing young adults. She enjoys doodling and is on a mission to share her passion with the world.  She also enjoys paper-crafting, reading, spending time with her very large family and supporting her spiritual community.
        </p>
        <p>
          Kristine truly believes that all things can be healed with love. After discovering that the principles and practices she learned through the Science of Mind teachings changed her own life in a profound way, she understood what her spiritual self was longing for and began to find love, peace and harmony in her own life, even in the midst of chaos.
        </p>
        <p>
          After the death of her father and having an experience of true Oneness in one of her darkest moments, she realized that being a practitioner is what she wanted to do. Kristine feels that holding someone in their highest truth when they have trouble seeing it for themselves is one of the greatest gifts she can give.
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          PENNY RUBALA, RSCP
        </a>
      </h4>
    </div>
    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
      <div class="panel-body">
        <%= image_tag 'practitioners/penny-rubala.jpg', class: 'img-accordion' %>

        <p>
          Penny Rubala began her journey in the Religious Science Philosophy at the Colorado Springs Religious Science church around 1989. After a few years of general classes she started Practitioner training in the fall of 1993. Her second child was just 3 months old at the time and in some ways she felt like she was birthing a new part of herself with this work.
        </p>
        <p>
          She completed Practitioner training in the spring of 1995 and became a licensed practitioner at that time. She was raised in a traditional church with all the rules, authority figures, and rituals, but a part of her was not being fulfilled. The Religious Science philosophy gave her practical tools, positive life affirming values, and a deep connection with her true self, her higher self, her God self. She has been blessed to be a part of this loving spiritual community in several cities throughout Colorado. She lived and served at Religious Science churches in Colorado Springs, then in Delta on the western slope, and now here at the New Thought Center for Northern Colorado.
        </p>
        <p>
          In her personal life, she has been married for 10 years and has three grown children. She has been a registered nurse for 38 years and over the last 5 years has devoted her professional work to Hospice Nursing. She is certified in Clinical Aromatherapy and enjoys sharing how essential oils can enhance a persons life. Another great passion in her life is facilitating Coming of Age workshops for moms and daughters. It is a positive puberty class filled with facts, fun, crafts, ritual, and lots of laughter.
        </p>
        <p>
          She is available to present this workshop to any group of moms who desire a new way to educate and prepare their daughters for young womanhood in a loving and compassionate way. She loves to pray and would be honored to support your spiritual growth through the practice of prayer and if desired a Practitioner session to know the truth of who you are in Spirit. Many Blessings and much love to all of you at my new Spiritual Community.
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEleven">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
            BOBBI WINSLOW, RSCP
        </a>
      </h4>
    </div>
    <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
      <div class="panel-body">
        <%= image_tag 'practitioners/bobbi-winslow.jpg', class: 'img-accordion' %>

        <p>
          Bobbi Winslow was introduced to the principles of Science of Mind in 1998 and received her Practitioner’s stole four years later. When Bobbi wants clarity or guidance in daily experiences she finds the answers through prayer.
        </p>
        <p>
          She believes that Universal energy is the force of life and that prayer is what guides it. From the years she spent as director of Youth and Family in San Jose and Ft. Collins, Bobbi calls children our true mystics. She still listens to the wisdom of her children and grandchildren.
        </p>
        <p>
          Loveland was home to Bobbi during high school and her years at CSU. She lived in California for 45 years and in 2006, returned to be her Mother’s caregiver. Bobbi loves to laugh with friends and can’t resist a good mystery novel.
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwelve">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
          RICH GERO, RSCP, EMERITUS
        </a>
      </h4>
    </div>
    <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
      <div class="panel-body">
        <%= image_tag 'practitioners/rich-gero.png', class: 'img-accordion' %>

        <p>
         Rich Gero received his practitioner license from Mile Hi Church in Lakewood, Colorado in 1991. Rich says that after finding Religious Science, “I knew my life was going to change. I began to have a love affair with the Divine and have never looked back.”
       </p>
       <p>
         He spent his early career life as a journalist working at the Rocky Mountain News in Denver. After many years in the corporate world, his attention and his heart turned to social work. Service to others in combination with life changes led him to seek spiritual understanding and living.
       </p>
       <p>
         “Many years of studies, and practicing principles, meditating, prayer, contemplation, and silence, together with continuing favorite hobbies such as reading, walking, writing, music, poetry and the arts, provides faith, learning, and most of all, gratitude.”
       </p>
       <p>
         Rich lives in Fort Collins with his cat, CymbyBabe, a 7-year old tuxedo. He has two grown children and two granddaughters.
       </p>
       <p>
         He is now officially retired from active Practitioner duties and has recently being honored with Emeritus recognition here at New Thought Northern Colorado CSL. Rich says serving the Whole Life community (and everywhere else he’s needed) continues to be his joy in life. He especially enjoys offering prayer and a prayerful consciousness. “I love being a Practitioner!” he says.
        </p>
      </div>
    </div>
  </div>
</div>
