<div class="fluid-container home-container">
  <div class="carousel-box">
    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <% if @event %>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <% end %>
      </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <%= link_to "#location", class: "clickable-carousel" do %>

        <div class="item active" style="background-image: url(<%= image_path "sunset-tree.jpg" %>)">
          <div class="slide-caption">
            <div>
              <div class="main-heading">
                <h3 class="welcome-heading">Welcome to</h3>
                <h1 class="new-thought">New Thought Northern Colorado</h1>
              </div>

              <h4 class ="carousel-sub-heading">Sunday Service: 10 am - 11:15</h4>
              <%= link_to "#location", class: "btn btn-primary location-btn" do %>
                <p>Location</p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <%= link_to "#talks", class: "clickable-carousel" do %>
        <div class="item" style="background-image: url(<%= image_path "mountain.jpg" %>)">
          <div class="slide-caption">
            <div>
              <h3 class="main-heading">Discover Us</h3>
              <h2 class="carousel-sub-heading">Listen to our recent talks</h2>

              <%= link_to "#talks", class: "btn btn-primary location-btn" do %>
                <p>Listen Now</p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <%= link_to "#youth_home", class: "clickable-carousel" do %>
        <div class="item" style="background-image: url(<%= image_path "kid-paint.jpg" %>)">
          <div class="slide-caption">
            <div>
              <h3 class="main-heading">Kids Connect</h3>
              <h2 class="carousel-sub-heading">Find a Youth Program</h2>

              <%= link_to "youth", class: "btn btn-primary location-btn" do %>
                <p>Learn More</p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <% if @event %>
        <div class="item event-slide" style="background-image: url(<%= image_path "walk.jpg" %>)">
          <div class="slide-caption">
            <div>
              <div class="event-box">
                <h3 class="main-heading">Upcoming Event:</h3>
                <h2 class="carousel-sub-heading"><%= @event.title %></h2>

                <p class="event-schedule">
                  <%= "#{l(@event.start_date)}: #{@event.schedule}" %>
                </p>

                <%= link_to @event, class: "btn btn-primary location-btn" do %>
                  <p>Details</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      </div>
 <!--    Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <button onclick="topFunction()" id="myBtn" title="Go to top">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
  </button>

  <%= render 'welcome' %>

  <%= render 'youth_home' %>

  <%= render 'talks' %>

  <%= render 'location' %>
</div>


<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h3 class="modal-title" id="exampleModalLongTitle">COVID-19 Notice</h3>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <div class="modal-body">
        <p>
          We have listened to the government’s requests for social distancing. Our offices will be closed at least through April. All classes & workshops are postponed: please watch for their rescheduled dates. If you need pastoral care, please call 970-224-1206 - calls are forwarded to our team.
        </p>

        <p>Our services will be live-streamed. Please visit out FB page at the following link to watch & for updates as we all move through this together.</p>

        <p>Be kind, be generous, wash your hands. Let Love lead.</p>

        <p><a href=" https://www.facebook.com/NTNCCSL" target="blank">NTNC Facbook</a></p>

        <p>Or watch later on YouTube by connecting here: <a href=" https://www.youtube.com/channel/UCDkLBQB8gyIEpNZ24vzJ21Q" target="blank">NTNC YouTube</a></p>
      </div>
      <footer class="modal__footer">
        <button class="btn btn-secondary" data-micromodal-close aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>
