<div class="container-fluid">
  <div class="row">
    <div class="banner" style="background-image: url(<%= image_path('hands.jpg')%>);">

      <div class="banner-heading">
        <h1>Who We Are</h1>
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <%= render(
      'shared/secondary_navbar',
      items: [
        { url: '#ministers', title: 'Ministers' },
        { url: '#practitioners', title: 'Practitioners' },
        { url: '#core-council', title: 'Core Council' },
        { url: '#staff', title: 'Staff' }

      ])
    %>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>

    <div class="row pt" id="ministers">
      <div class="col-md-10 col-md-offset-1">
        <h3>Ministers</h3>
      </div>
    </div>

    <div class="row pt">
      <div class="col-sm-6 col-md-7 col-md-offset-4">
        <h4>SENIOR MINISTER – REVEREND BARBARA BUE</h4>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-6 col-md-3 col-md-offset-1">
        <%= image_tag 'rev-barb.jpg', class: 'img-responsive' %>
      </div>

      <div class="col-sm-6 col-md-7">
        <p>
          Rev. Barb is passionate about personal transformation and the power of individuals to change their lives by changing their minds.  She is a dynamic speaker whose messages are clear and heart-warming – listeners exclaim in recognition, nod in agreement and feel things deeply.
        </p>
        <p>
          Rev Barb is an effective and engaging teacher; she supports your dream, encourages you to know it for yourself, challenges your limiting ideas, and she’ll ask you to do the work to have the life you’d love. She wants everyone to embrace his or her gifts and SHARE THEM! Barb believes that transforming individual lives is the step to transforming the planet into a world that works for everyone.
        </p>
        <p>
          Believing the Divine does great work through humor, she really wants to make you laugh and grow.  “Spiritual growth should be exciting-not scary,” (Reverend Barb Bue.) “One of her greatest qualities is that she can help people see their own potential and guide without judgment,” (Student.)
        </p>
        <p>
          Barb graduated from ministerial school in 2007 after spending a year as an interim minister in Greeley.  She stayed on as Senior Minister because she fell in love with the congregation.  She served as Senior Minister in Greeley for 7 years until 2016 when she stepped into a new position as Senior Minister of New Thought No CO, a merger of two churches, three congregations and the opening of a new spiritual home in Loveland where everyone is welcome. Welcome home.
        </p>
      </div>
    </div>


        <div class="row pt">
      <div class="col-sm-6 col-md-7 col-md-offset-4">
        <h4>ASSISTANT MINISTER – JENNY ILLIG</h4>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-6 col-md-3 col-md-offset-1">
        <%= image_tag 'rev-jenny.jpg', class: 'img-responsive' %>
      </div>

      <div class="col-sm-6 col-md-7">
        <p>
          Rev. Jenny is passionate about people and living Life with joy, peace and love. She loves teaching New Thought philosophy to others so they may change their lives and the world for the better.
        </p>
        <p>
          After a lifetime of searching, Rev. Jenny found a spiritual philosophy that resonated with her personal beliefs about a loving God and she found her spiritual home in 2007 in the New Thought teachings of Ernest Holmes.
        </p>
        <p>
          The teachings and practice of this philosophy radically changed her life for the better by giving her a different way to view life, and how it works as well as the tools to create a fabulous life of her own design rather than one that just showed up by default.
        </p>
        <p>
          Rev. Jenny became a licensed Practitioner of Religious Science in 2011.  She received a clear message to pursue ministry and entered the Holmes Institute, graduating with a Master’s in Consciousness Studies in 2015.
        </p>
        <p>
          She served as Staff Minister at Whole Life Center for Spiritual Living until January of 2016, when through the merger of Whole Life and Creative Center for Spiritual Living, she joined New Thought Northern Colorado Center for Spiritual Living where she joyfully serves as Assistant Minister.
        </p>
      </div>
    </div>

  <div id="practitioners" class="row pt">
    <div class="col-md-10 col-md-offset-1">
      <%= render 'practitioners' %>
    </div>
  </div>

  <div class="row pt" id="core-council">
    <div class="col-md-10 col-md-offset-1">
      <h3>Core Council</h3>
      <p>
        Core Council is the name that we have given our Board of Trustees. They are responsible for overseeing the financial health and wellbeing of the Center. These are elected two-year positions. Current members are listed below.
      </p>

      <ul>
        <li>Debra J – President</li>

        <li>Chuck Bloser – Treasurer</li>

        <li>JoAnn Grosswiller – Secretary</li>

        <li>Mike Callan</li>

        <li>Jonie Carson</li>

        <li>David Lynn</li>

        <li>Doug Rogers</li>
      </ul>
    </div>
  </div>

  <div class="row pt" id="staff">
    <div class="col-md-10 col-md-offset-1">
      <%= render 'staff' %>
    </div>
  </div>


</div>
